:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/*secondary background color #F5F4FA*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list,
.header-contacts {
  list-style: none;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.address, .footer-tel, .logo {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /*outline: 1px solid tomato;*/
}

.section {
  padding: 94px 0px;
}

.btn {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", Verdana, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}
.btn:hover, .btn:focus {
  background: #188ce8;
}

.primary-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto 50px;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-input {
  background-color: transparent;
  outline: transparent;
  color: var(--primary-text-color);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-label {
  color: var(--text-color);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}
.modal-button {
  display: block;
  margin: 0 auto;
}

.modal-close-btn {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-comment {
  outline: transparent;
  color: var(--primary-text-color);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border-color: var(--accent-color);
}
.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.check-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.check-text > a {
  color: var(--accent-color);
}
.check-text > a:hover {
  text-decoration: none;
}
.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.check-border {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:not(:checked):focus + .check-text .check-border {
  fill: var(--accent-color);
}

.check-icon-wrap {
  position: relative;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
}
.input-check:not(:checked) + .check-text .check-icon-wrap {
  display: none;
}
.input-check:checked + .check-text .check-icon-wrap {
  display: block;
}

.check-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
}
.input-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.input-check:checked + .check-text .check-border-wrap {
  display: none;
}

.nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 93px;
}

.nav__list {
  display: flex;
}

.nav__item,
.contacts__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.nav__link--active {
  color: var(--accent-color);
}
.nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 77px;
  background: #2196f3;
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--accent-color);
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo--color-dark {
  color: #000000;
}

.logo--color-light {
  color: var(--primary-white-color);
}

.contacts {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.contacts__mail,
.contacts__tel {
  color: var(--text-color);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contacts__mail:hover, .contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-left: auto;
}

.border {
  border-bottom: 1px solid #ececec;
}

.hero {
  text-align: center;
}
.hero__content {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
}

.benefits {
  padding-top: 94px;
}
.benefits__list {
  display: flex;
}
.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__icon-box {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}

.works-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.works-text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.works-text-wrapper {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  min-height: 70px;
}

.team {
  background-color: #f5f4fa;
  display: flex;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}
.team-item {
  background: #ffffff;
  text-align: center;
  border: none;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  flex-basis: calc((100% - 90px) / 4);
}
.team-descr {
  padding: 30px 0px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-item {
  margin-right: 10px;
}
.team-soc-item:last-child {
  margin-right: 0px;
}
.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.team-soc-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.client-item {
  box-sizing: border-box;
  display: flex;
  flex-basis: calc((100% - 150px) / 6);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-blocks {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-soc {
  display: block;
  margin-left: 70px;
}
.footer-sub-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc-item:last-child {
  margin-right: 0px;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background: var(--accent-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--primary-white-color);
}
.footer-subscribe {
  display: block;
  margin-left: auto;
}
.footer-subscribe-wrap {
  display: flex;
}
.footer-input {
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  width: 358px;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus {
  border-color: var(--accent-color);
}
.footer-button {
  position: relative;
  padding-left: 29px;
  padding-right: 62px;
}
.footer-send-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-btn {
  color: var(--primary-text-color);
  background: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link {
  text-decoration: none;
  font-style: normal;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-descr {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-header {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.portfolio-text-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  margin-top: 5px;
}
.portfolio-link:hover .portfolio-top-text, .portfolio-link:focus .portfolio-top-text {
  transform: translateY(0%);
  margin: 0;
}/*# sourceMappingURL=main.css.map */