.benefits {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__icon-box {
    background-color: #f5f4fa;

    @include flexCenter;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
}
