.footer {
  background-color: #2f303a;
  padding: 60px 0;

  &-blocks {
    width: 100%;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 61px;
      padding-right: 74px;
    }
    @include desktop {
      @include flexCenter(flex, null, baseline);
    }
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;

    @include desktop {
      align-items: flex-start;
      text-align: start;
      margin-bottom: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &-tel {
    @extend %links-style;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }

  &-contacts-item:not(:last-child) {
    margin-bottom: 8px;
    @include desktop {
      margin-bottom: 9px;
    }
  }

  &-soc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @include tablet {
      margin-left: auto;
    }
    @include desktop {
      align-items: flex-start;
      text-align: start;
      margin-left: 70px;
      margin-bottom: 0;
    }
  }

  &-sub-title {
    color: var(--primary-white-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  &-soc-list {
    display: flex;
  }

  &-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }

  &-soc-link {
    @include flexCenter;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      background: var(--accent-color);
      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-soc-icon {
    fill: var(--primary-white-color);
  }

  &-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0 auto;
    }

    @include desktop {
      align-items: flex-start;
      text-align: start;
      margin-left: auto;
    }
  }

  &-subscribe-wrap {
    @include desktop {
      display: flex;
    }
  }

  &-input {
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);

    width: 450px;
    height: 50px;

    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: var(--accent-color);
    }

    @media screen and (min-width: 320px) and (max-width: 479px) {
      width: 290px;
    }

    @include desktop {
      width: 358px;
      margin-right: 12px;
    }
  }

  &-button {
    position: relative;
    height: 50px;
    padding-left: 29px;
    padding-right: 62px;
  }

  &-send-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    fill: var(--primary-white-color);
  }
}

.address {
  @extend %links-style;
  color: var(--primary-white-color);
}
