.team {
  background-color: #f5f4fa;

  display: flex;

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px;
  }

  &-item {
    background: #ffffff;

    text-align: center;

    border: none;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    flex-basis: calc((100% - 90px) / 4);
  }

  &-descr {
    padding: 30px 0px;
  }

  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
  }

  &-text {
    color: var(--text-color);

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }

  &-soc-list {
    @include flexCenter(flex, center, null);
  }

  &-soc-item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
  }

  &-soc-link {
    @include flexCenter;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
    }
  }

  &-soc-icon {
    fill: currentColor;
  }
}
