.contacts {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.contacts__mail,
.contacts__tel {
  color: var(--text-color);
  @include flexCenter(flex, null, center);
  width: 100%;
  height: 100%;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
